/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/06/2019, 04:08:43 PM
    Author     : madarme
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

body {
    font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #404040;

}
button{
    background: #900;
    width:170px;
    height:45px;
}
.Boton{
    width: 100%;
    background-color: #FFFFFF;
    text-align: center;
}
.TextBoton{
    color: #FFFFFF;
}

.encabezado {
    width: 100;
    line-height: 1;
    background: #c90102;
    border-radius: 3px;
    color: #FFFFFF;
    text-align: center;
    font-size: 45px;
    /*  background-image: -webkit-linear-gradient(top, #dc745e, #d45742);
      background-image: -moz-linear-gradient(top, #dc745e, #d45742);
      background-image: -o-linear-gradient(top, #dc745e, #d45742);
      background-image: linear-gradient(to bottom, #dc745e, #d45742);*/
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.input {
    margin-top: 20px;
    font-family: inherit;
    color: black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.Iniciar{
    text-align: center;
    margin: 130px auto 20px;
    font-weight: bold;
    font-size: 25px;
}
.FormularioEstudianteTitulo{
    text-align: center;
    margin: 130px auto 20px;
    font-weight: bold;
    font-size: 25px;
}
.FormularioEstudianteForm{
    width: 500px;
    height: 325px;
    line-height: 45px;
    margin-bottom: 190px;
    margin: 20px auto 20px;
    font-size: 17px;
    color: /*    border-radius: 9px;*/black;
    text-align: center;
    background: #fff;

}
.login{
    width: 350px;
    height: 400px;
    line-height: 45px;
    margin-bottom: 190px;
    margin: 20px auto 20px;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.95);
    text-align: center;
    background: #9C9C9C;
    border-radius: 9px;
}

input[type=checkbox] {
    transform: scale(1.5);
}

.AlineadoHyV{
    width: 320px;
    height: 45px;
    border: 0px;
}

table{
/*    background:#828282; */
    overflow:hidden;
} 
table th:nth-child(even){
    color:#000000;
    text-align:left;
/*    width: 400px;*/
/*    padding:12px 12px;*/
/*    background-color:#9c9c9c;*/
/*    height:20px;*/
/*    border: orange 5px solid;*/
}
table tr:nth-child(even) {
    color:#000000;
    background:#c7c5c5; 
/*    border-collapse: collapse;*/
/*    border: black 1px solid;*/
}
table td{
    border: black 1px solid;
}
table th{
    border: black 1px solid;
/*    width: 400px;*/
}
table tr:hover{
    color:#fff;
    background-color:#900;
    
}


a {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    text-decoration: none;

   	
}

a:hover {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    text-decoration: none;
    
}